<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Custom Tudum</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=volume_up" />
    <link rel="stylesheet" type="text/css" href="../styles/popup.css">
</head>
<body>
    <h1><span>Custom</span> Tudum</h1>
    <div id="current-sound" class="card">
        <button id="testAudioButton" disabled title="Test Audio">&#9654;</button>
        <div id="current-sound-info">
            <div id="current-tudum-label">Current Tudum:</div>
            <div id="current-sound-name">None</div>
            <div class="volume">
                <span class="material-symbols-outlined">
                    volume_up
                </span>
                    <input type="range" min="1" max="100" value="80" class="slider" id="myRange">
            </div>
        </div>
    </div>

    <div id="change-sound" class="card">
        <label for="fileInput">Choose your Tudum:</label>
        <div class="input-div">
            <input type="file" id="fileInput" accept="audio/*">
            <p><em>**File duration must be less than 5 seconds**</em></p>
        </div>
        <button id="saveButton" class="button" disabled>💾 Save Tudum</button>
        <div id="confirmation">Tudum has been updated!</div>
        <div id="error-long">Error! File is too long</div>
        <div id="error-invalid">Error! Invalid file type</div>
    </div>

    <div id="contact-me" class="button">
        <a href="mailto:rajveersodhi03@gmail.com">Contact Me 👋🏼</a>
    </div>

    <script src="../scripts/popup.js"></script>
</body>
</html>
