:root {
    --black: #292524;
    --white: #FAFAF9;
    --white-hover: #c5c5c5;
    --red: #E44149;
    --red-hover: #ac2d33;
    --green: #28db72;
    --grey: #999;
    --disable: #555;
}

body {
    font-family: "Poppins", sans-serif;
    width: 380px;
    padding: 0px 20px 20px 20px;
    font-size: 1rem;
    background-color: var(--black);
    color: var(--white);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top: 0.75rem;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 400;

}

h1 span {
    font-family: "Playwrite US Trad", serif;
    color: #E44149;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

#change-sound {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#saveButton {
    width: 100%;
    box-sizing: border-box;
}

#saveButton:disabled {
    background-color: var(--disable);
    color: #AAA;
    cursor: not-allowed;
}

#confirmation {
    color: var(--green);
    margin-top: 10px;
    display: none;
}

#error-long, #error-invalid {
    color: var(--red);
    margin-top: 10px;
    display: none;
}

.material-symbols-outlined {
    scale: 0.85;
    display: inline;
}

p {
    margin-top: 4px;
    font-size: 0.7rem;
    color: var(--white-hover);
}

.input-div {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.volume {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 80%;
    margin-left: 5px;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: #999;
    outline: none;
    border-radius: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

#current-sound-label {
    display: block;
}

#current-sound-info {
    margin-left: 12px;
}

#current-tudum-label {
    font-weight: 700;
    font-size: 0.8rem;
}

.card {
    background: rgb(106, 103, 103);
    background: linear-gradient(120deg, rgb(131, 128, 128) 0%, rgb(48, 46, 46) 100%);
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 1.25rem;
    padding: 16px;
    display: flex;
    box-shadow: 0px 0px 8px 2px rgb(20, 20, 20);
    transition: scale 400ms ease-in-out, box-shadow 400ms ease-in-out;
}

.card:hover {
    scale: 1.01;
    box-shadow: 0px 0px 11px 4px rgb(20, 20, 20);
}

#current-sound {
    flex-direction: row;
    padding: 12px;
    align-items: center;
    justify-content: start;
}

#contact-me {
    margin-top: 20px;
}

label {
    font-size: 1.2rem;
}

.button {
    background-color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    font-size: 1rem;
    text-align: center;
    width: fit-content;
    transition: scale 200ms ease-in-out, background-color 200ms ease-in-out;
    border: none;
    box-shadow: 0px 0px 5px 1px rgb(60, 60, 60);
}

.button:not(:disabled):hover {
    scale: 0.98;
}

#contact-me a {
    color: var(--black);
    text-decoration: none;
}

#testAudioButton {
    background-color: var(--red);
    width: 3rem;
    font-size: 1.25rem;
    height: 3rem;
    color: var(--white);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding-right: 4px;
    transition: background-color 200ms ease-in-out;
}

#testAudioButton:disabled {
    background-color: var(--disable);
    cursor: not-allowed;
}

#testAudioButton:not(:disabled):hover {
    background-color: var(--red-hover);
}